{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}
 
 
<div class="add-book">
 
<div class="page-header">
 
<h2>Add a New Book</h2>
 
  </div>
 
 
 
<form action="{{ url_for('books.add_book') }}" method="post">
    {{ form.csrf_token }}
 
<dl>
      {{ render_field(form.isbn, placeholder="Enter ISBN") }}
      {{ render_field(form.title, placeholder="Enter Title") }}
      {{ render_field(form.author, placeholder="Enter Author") }}
      {{ render_field(form.year, placeholder="Enter Year") }}
    </dl>
 
    <button class="btn btn-sm btn-success" type="submit">Add Book</button>
  </form>
 
</div>
 
 
{% endblock %}
