{% extends "layout.html" %}
{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>{{ book.title }}</h2>
  </div>
 
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Author</div>
      <div class="panel-body">{{ book.author}}</div>
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">Year</div>
      <div class="panel-body">{{ book.year }}</div>
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">ISBN</div>
      <div class="panel-body">{{ book.isbn }}</div>
    </div>

    {% if review is not none %}
    {% for r in review %}
    <div class="panel panel-primary">
      <div class="panel-heading">Review {{ r.Review.rating }} out of 5 stars by {{ r.User.email }}</div>
      <div class="panel-body">{{ r.Review.text }}</div>
    </div>
    {% endfor %}
    {% endif %}

  </div>
</div>
 
{% endblock %}
