{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}
 
<div class="user-profile">
  <div class="page-header">
    <h2>{{ book.title }}</h2>
  </div>
 
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">Author</div>
      <div class="panel-body">{{ book.author}}</div>
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">Year</div>
      <div class="panel-body">{{ book.year }}</div>
    </div>
 
    <div class="panel panel-primary">
      <div class="panel-heading">ISBN</div>
      <div class="panel-body">{{ book.isbn }}</div>
    </div>

    {% if goodreads is not none %}
    <div class="panel panel-primary">
      <div class="panel-heading">Goodreads</div>
      <div class="panel-body">Average {{ goodreads['books'][0]['average_rating'] }} with {{ goodreads['books'][0]['ratings_count'] }} ratings</div>
    </div>
    {% endif %}
    
    {% if review is not none %}
    {% for review in reviews %}
    <div class="panel panel-primary">
      <div class="panel-heading">{{review.User.email}}: {{ review.Review.rating }}/5
        <span class="pull-right">{{ review.Review.date }}</span>
      </div>
      <div class="panel-body">{{ review.Review.text }}</div>
    </div>
    {% endfor %}
    {% endif %}
    
    <form action="{{ url_for('books.review_book', book_id = book.book_id) }}" method="post">
      {{ form.csrf_token }}
      <dl>
        <h4> Review: </h4>
        {% for button in form.rating %}
        <tr>
          <td>{{ button }}</td>
        </tr>
        <tr>
          <td>{{ button.label}}</td>
        </tr>
        {% endfor %}
        {{ form.text }}
      </dl>
      <button class="btn btn-sm btn-success" type="submit">Review Book</button>
    </form>
  </div>
</div>
 
{% endblock %}
