{% extends "layout.html" %}
{% from "_form_macros.html" import render_field %}
 
{% block content %}

<div class="search-book">
  <div class="page-header">
    <h2>Search for a Book</h2>
  </div>
  <form action="{{ url_for('books.search_book') }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.select, placeholder="Type") }}
      {{ render_field(form.search, placeholer="Value") }}
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Search Book</button>
  </form>
</div>
 
 
{% endblock %}
